.card{
    background-color: black;
    width: 298px;
    height: 233px;
    color: rgb(41, 59, 74);
    border-radius: 10px;
    margin: 25px 12px 25px 5px
}

.card_title {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    font-size: 30px;
    border-radius: 10px;
    overflow: hidden; /* Ensures any overflowing content is hidden */
}

.card_title img {
    width: 100%; /* Ensures the image fills the width */
    height: 100%; /* Ensures the image fills the height */
    object-fit: fill; /* Maintains aspect ratio and crops overflow */
    border-radius: 10px; /* Keeps the rounded corners of the card */
}


.card_value{
    background-color: #ffffff;
    display: grid;
    height: 30%;
    font-size: 20px;
    place-items: center;
    border-radius: 10px;
}